.git
.github
.env
.env.backup
.phpunit.result.cache
node_modules
vendor
public/build
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
database/*.sqlite
tests/
docker-compose.yml
Dockerfile
.dockerignore
README.md
implementation_plan.md
walkthrough.md
task.md
docker/
